@model IEnumerable<mjaang_bugtracker.Models.Projects>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Dashboard";
    string username = User.Identity.GetUserName();
}

@*<div>





    <h2>Project List</h2>


    <p>
        <a href="@Url.Action("Create", "Projects")">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title) Project
                </th>
                <th>
                   @Html.DisplayNameFor(model => model.Slug)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body) Description
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MediaURL)
                </th>
                <th>
                    Number of Tickets
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Published)
                    </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (User.IsInRole("Admin"))
                {
                <tr>
                    <td>
                        @item.Created.ToString("d")<br /><br />
                        <p style="font-size:10px">by @item.AuthorUserId</p>
                    </td>
                    <td>
                        @if (item.Updated != null)
                        {
                            @item.Updated.Value.ToString("d")
                        }
                    </td>
                    <td>
                        @foreach (var user in item.User)
                        {
                            <p>@user.FirstName @user.LastName</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => next.Slug)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.BodyClipped))
                        {
                            @Html.Raw(item.BodyClipped)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => next.MediaURL)
                            <div style="max-height:100px; max-width:100px">
                                @if (!string.IsNullOrWhiteSpace(item.MediaURL))
                            {
                                    <img class="img-responsive" src="@Url.Content(item.MediaURL)" alt="" />
                                }

                            </div>
                    </td>
                    <td>
                        <a href="@Url.Action("Index", "Tickets")">@Html.DisplayFor(modelItem => item.Ticket.Count)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => next.Published)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Projects", new { id = item.Id })">Edit</a> <br />
                        <a href="@Url.Action("Details", "Projects", new { id = item.Id })">Details</a> <br />
                        <a href="@Url.Action("Delete", "Projects", new { id = item.Id })">Delete</a> <br />
                        <a href="@Url.Action("ProjectUser", "Projects", new { id = item.Id })">Assign</a> <br />
                    </td>
                </tr>
                }
                else
                {
                    <caption>Landing Page</caption>
                }
            }

        </tbody>
    </table>
</div>
<hr />

<div>

    <h2>Ticket List</h2>

    <p>
        <a href="@Url.Action("Create", "Tickets")">Create New</a>
    </p>
    <table id="mytable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy.FirstName) Created by
                </th>
                <th>
                    Assigned to
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Title) Project
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriority.Name) Priority
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus.Name) Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketType.Name)Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title) Ticket
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description) Description
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { if (User.IsInRole("Admin"))
                {
                    foreach (var next in item.Ticket)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => next.CreatedBy.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => next.AssignedTo.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => next.Project.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => next.TicketPriority.Name)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(next.AssignedToId))
                            {
                                <p>Assigned</p>
                            }
                            else
                            {
                                <p>Unassigned</p>@Html.DisplayFor(modelItem => next.TicketStatus.Name)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => next.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => next.Title)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.BodyClipped))
                            {
                                @Html.Raw(item.BodyClipped)
                            }
                        </td>
                        <td>
                            @item.Created.ToString("d")
                        </td>
                        <td>
                            @if (item.Updated != null)
                            {
                                @item.Updated.Value.ToString("d")
                            }
                        </td>
                        <td>
                            <a href="@Url.Action(" Edit", "Tickets", new { id = item.Id })">Edit</a> <br />
                            <a href="@Url.Action(" Details", "Tickets", new { id = item.Id })">Details</a> <br />
                            <a href="@Url.Action(" Delete", "Tickets", new { id = item.Id })">Delete</a>
                        </td>
                    </tr>

                    }
                }
                else
                {
                    <caption> Landing Page</caption>
                }
            }
        </tbody>
    </table>

</div>*@




@*<div class="hr hr-18 dotted hr-double"></div>

    <h4 class="pink">
            <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
            <a href="#modal-table" role="button" class="green" data-toggle="modal"> Table Inside a Modal Box </a>
        </h4>

        <div class="hr hr-18 dotted hr-double"></div>*@
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Home")">Home</a>
        </li>
        <li class="active">Dashboard</li>
    </ul><!-- /.breadcrumb -->

</div>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Project List</h3>

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Current Projects
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>Created on</th>
                        <th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>Updated on</th>
                        <th class="hidden-480">Created by</th>
                        <th class="hidden-480">Assigned to</th>
                        <th class="hidden-480">Project</th>
                        <th class="hidden-480">Number of Tickets</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        if (User.IsInRole("Admin"))
                        {
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td>
                            @item.Created.ToString("d")
                        </td>
                        <td>
                            @if (item.Updated != null)
                            {
                                @item.Updated.Value.ToString("d")
                            }
                        </td>
                        <td>
                            @item.AuthorUserId
                        </td>
                        <td class="hidden-480">
                            @foreach (var user in item.User)
                            {
                                <p>@user.FirstName @user.LastName</p>
                            }
                        </td>
                        <td class="hidden-480">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="hidden-480" style="text-align:center">
                            <a href="@Url.Action("Index","Tickets", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Ticket.Count)</a>
                        </td>
                        @*<td>
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a class="blue" href="@Url.Action("Details", "Projects", new { id = item.Id })">
                                    <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                </a>

                                <a class="green" href="@Url.Action("Edit", "Projects", new { id = item.Id })">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>

                                <a class="red" href="@Url.Action("Delete", "Projects", new { id = item.Id })">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                                <a class="red" href="@Url.Action("ProjectUser", "Projects", new { id = item.Id })">
                                    <i class="ace-icon fa fa-hand-o-right bigger-130"></i>
                                </a>
                            </div>

                            <div class="hidden-md hidden-lg">
                                <div class="inline pos-rel">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                <span class="blue">
                                                    <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                <span class="red">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Assign">
                                                <span class="blue">
                                                    <i class="ace-icon fa fa-hand-o-right bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>*@
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal-table" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Results for "Latest Registered Domains
                </div>
            </div>

            <div class="modal-body no-padding">
                <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Price</th>
                            <th>Clicks</th>

                            <th>
                                <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                Update
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <a href="#">ace.com</a>
                            </td>
                            <td>$45</td>
                            <td>3,330</td>
                            <td>Feb 12</td>
                        </tr>

                        <tr>
                            <td>
                                <a href="#">base.com</a>
                            </td>
                            <td>$35</td>
                            <td>2,595</td>
                            <td>Feb 18</td>
                        </tr>

                        <tr>
                            <td>
                                <a href="#">max.com</a>
                            </td>
                            <td>$60</td>
                            <td>4,400</td>
                            <td>Mar 11</td>
                        </tr>

                        <tr>
                            <td>
                                <a href="#">best.com</a>
                            </td>
                            <td>$75</td>
                            <td>6,500</td>
                            <td>Apr 03</td>
                        </tr>

                        <tr>
                            <td>
                                <a href="#">pro.com</a>
                            </td>
                            <td>$55</td>
                            <td>4,250</td>
                            <td>Jan 21</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer no-margin-top">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>

                <ul class="pagination pull-right no-margin">
                    <li class="prev disabled">
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>

                    <li class="active">
                        <a href="#">1</a>
                    </li>

                    <li>
                        <a href="#">2</a>
                    </li>

                    <li>
                        <a href="#">3</a>
                    </li>

                    <li class="next">
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- PAGE CONTENT ENDS -->


@*<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Ticket List</h3>

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Current Tickets
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>Created on</th>
                        <th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>Updated on</th>
                        <th class="hidden-480">Assigned to</th>
                        <th class="hidden-480">Project</th>
                        <th class="hidden-480">Ticket</th>
                        <th class="hidden-480">Number of Comments</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            foreach (var next in item.Ticket)
                            {
                                <tr>
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>
                                        @next.Created.ToString("d")
                                    </td>
                                    <td>
                                        @if (next.Updated != null)
                                        {
                                            @next.Updated.Value.ToString("d")
                                        }
                                    </td>
                                    <td class="hidden-480">
                                        @if (next.AssignedTo != null)
                                        {
                                            @next.AssignedTo.FirstName @next.AssignedTo.LastName
                                        }
                                    </td>
                                    <td class="hidden-480">
                                        @Html.DisplayFor(modelItem => next.Project.Title)
                                    </td>
                                    <td class="hidden-480">
                                        @Html.DisplayFor(modelItem => next.Title)
                                    </td>
                                    <td class="hidden-480" style="text-align:center">
                                        @Html.DisplayFor(modelItem => next.TicketComment.Count)
                                    </td>*@
                                    @*<td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a class="blue" href="@Url.Action("Details", "Tickets", new { id = item.Id })">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                            </a>

                                            <a class="green" href="@Url.Action("Edit", "Tickets", new { id = item.Id })">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red" href="@Url.Action("Delete", "Tickets", new { id = item.Id })">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                            @*<a class="red" href="@Url.Action("TicketUser", "Tickets", new { id = item.Id })">
                                                    <i class="ace-icon fa fa-hand-o-right bigger-130"></i>
                                                </a>*@
                                            @*</div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                            <span class="red">
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Assign">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-hand-o-right bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>*@
                                @*</tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>*@





@section scripts{

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.tableTools.min.js"></script>
<script src="~/assets/js/dataTables.colVis.min.js"></script>

<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.tableTools.min.js"></script>
<script src="~/assets/js/dataTables.colVis.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var oTable1 =
				$('#dynamic-table')
				//.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
				.dataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null, null, null, null, null, null, null, 
					  { "bSortable": false }
					],
					"aaSorting": [],

					//,
					//"sScrollY": "200px",
					//"bPaginate": false,

					//"sScrollX": "100%",
					//"sScrollXInner": "120%",
					//"bScrollCollapse": true,
					//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
					//you may want to wrap the table inside a "div.dataTables_borderWrap" element

					//"iDisplayLength": 50
			    } );
				//oTable1.fnAdjustColumnSizing();


				//TableTools settings
				TableTools.classes.container = "btn-group btn-overlap";
				TableTools.classes.print = {
					"body": "DTTT_Print",
					"info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
					"message": "tableTools-print-navbar"
				}

				//initiate TableTools extension
				var tableTools_obj = new $.fn.dataTable.TableTools( oTable1, {
					"sSwfPath": "~/assets/swf/copy_csv_xls_pdf.swf",

					"sRowSelector": "td:not(:last-child)",
					"sRowSelect": "multi",
					"fnRowSelected": function(row) {
						//check checkbox when row is selected
						try { $(row).find('input[type=checkbox]').get(0).checked = true }
						catch(e) {}
					},
					"fnRowDeselected": function(row) {
						//uncheck checkbox
						try { $(row).find('input[type=checkbox]').get(0).checked = false }
						catch(e) {}
					},

					"sSelectedClass": "success",
			        "aButtons": [
						{
							"sExtends": "copy",
							"sToolTip": "Copy to clipboard",
							"sButtonClass": "btn btn-white btn-primary btn-bold",
							"sButtonText": "<i class='fa fa-copy bigger-110 pink'></i>",
							"fnComplete": function() {
								this.fnInfo( '<h3 class="no-margin-top smaller">Table copied</h3>\
									<p>Copied '+(oTable1.fnSettings().fnRecordsTotal())+' row(s) to the clipboard.</p>',
									1500
								);
							}
						},

						{
							"sExtends": "csv",
							"sToolTip": "Export to CSV",
							"sButtonClass": "btn btn-white btn-primary  btn-bold",
							"sButtonText": "<i class='fa fa-file-excel-o bigger-110 green'></i>"
						},

						{
							"sExtends": "pdf",
							"sToolTip": "Export to PDF",
							"sButtonClass": "btn btn-white btn-primary  btn-bold",
							"sButtonText": "<i class='fa fa-file-pdf-o bigger-110 red'></i>"
						},

						{
							"sExtends": "print",
							"sToolTip": "Print view",
							"sButtonClass": "btn btn-white btn-primary  btn-bold",
							"sButtonText": "<i class='fa fa-print bigger-110 grey'></i>",

							"sMessage": "<div class='navbar navbar-default'><div class='navbar-header pull-left'><a class='navbar-brand' href='#'><small>Optional Navbar &amp; Text</small></a></div></div>",

							"sInfo": "<h3 class='no-margin-top'>Print view</h3>\
									  <p>Please use your browser's print function to\
									  print this table.\
									  <br />Press <b>escape</b> when finished.</p>",
						}
			        ]
			    } );
				//we put a container before our table and append TableTools element to it
			    $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

				//also add tooltips to table tools buttons
				//addding tooltips directly to "A" buttons results in buttons disappearing (weired! don't know why!)
				//so we add tooltips to the "DIV" child after it becomes inserted
				//flash objects inside table tools buttons are inserted with some delay (100ms) (for some reason)
				setTimeout(function() {
					$(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function() {
						var div = $(this).find('> div');
						if(div.length > 0) div.tooltip({container: 'body'});
						else $(this).tooltip({container: 'body'});
					});
				}, 200);



				//ColVis extension
				var colvis = new $.fn.dataTable.ColVis( oTable1, {
					"buttonText": "<i class='fa fa-search'></i>",
					"aiExclude": [0, 6],
					"bShowAll": true,
					//"bRestore": true,
					"sAlign": "right",
					"fnLabel": function(i, title, th) {
						return $(th).text();//remove icons, etc
					}

				});

				//style it
				$(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

				//and append it to our table tools btn-group, also add tooltip
				$(colvis.button())
				.prependTo('.tableTools-container .btn-group')
				.attr('title', 'Show/hide columns').tooltip({container: 'body'});

				//and make the list, buttons and checkboxed Ace-like
				$(colvis.dom.collection)
				.addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
				.find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
				.find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');



				/////////////////////////////////
				//table checkboxes
				$('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

				//select/deselect all rows according to table header checkbox
				$('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$(this).closest('table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) tableTools_obj.fnSelect(row);
						else tableTools_obj.fnDeselect(row);
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
					var row = $(this).closest('tr').get(0);
					if(!this.checked) tableTools_obj.fnSelect(row);
					else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
				});




					$(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
					e.stopImmediatePropagation();
					e.stopPropagation();
					e.preventDefault();
				});


				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				var active_class = 'active';
				$('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
					var th_checked = this.checked;//checkbox inside "TH" table header

					$(this).closest('table').find('tbody > tr').each(function(){
						var row = this;
						if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
						else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
					});
				});

				//select/deselect a row when the checkbox is checked/unchecked
				$('#simple-table').on('click', 'td input[type=checkbox]' , function(){
					var $row = $(this).closest('tr');
					if(this.checked) $row.addClass(active_class);
					else $row.removeClass(active_class);
				});



				/********************************/
				//add tooltip for small view action buttons in dropdown menu
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

				//tooltip placement on right or left
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}

			})
</script>

    }